#comment-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.335);
  display: flex;
  justify-content: center;
}

#comment-popup.hidden {
  display: none !important;
}

.comment-popup__description-container {
  display: flex;
  gap: 20px;
}

.comment-popup__description-container > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-popup__description-container label {
  font-weight: 700;
  display: block;
  width: 150px;
  margin-bottom: 5px;
}

#comment-popup__summary {
  font-size: 14px;
}

#comment-popup > div {
  width: calc(100% - 100px);
  max-width: 700px;
  height: calc(100% - 100px);
  padding: 50px;
  margin: 50px;
  background-color: var(--white);
  border: var(--border);
  border-radius: 5px;
  overflow-y: auto;
}

.comment-popup__x-mark {
  display: flex;
  justify-content: flex-end;
}

#comment-popup__x-mark {
  cursor: pointer;
  user-select: none;
  font-size: 28px;
  margin-top: -25px;
  margin-right: -25px;
  color: var(--gray);
}

#comment-popup__image {
  display: flex;
  justify-content: center;
}

#comment-popup__comments_title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

#comment-popup__comments_list {
  list-style: none;
  max-height: 100px;
  overflow-y: auto;
}

#comment-popup__comments_list > li {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

#comment-popup__comments_list > li > div:nth-child(1) {
  color: var(--gray);
}

#comment-popup__comments_list > li > div:nth-child(2) {
  font-weight: 700;
  width: 120px;
  overflow: hidden;
}

#comment-popup__new-comment-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

#comment-popup__new-comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#comment-popup__new-comment-form > input {
  line-height: 30px;
  width: 100%;
  max-width: 300px;
  padding: 0 10px;
}

#comment-popup__new-comment-form > textarea {
  height: 60px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  resize: none;
}

#comment-popup__new-comment-form > button {
  line-height: 30px;
  width: 100%;
  max-width: 300px;
  padding: 0 10px;
}
