* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  background: #fff;
  color: #0d1117;
}

a {
  text-decoration: none;
}

.blue {
  color: #0080ff;
}

/* Header Section */
.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}

.header {
  padding: 3%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navMenu {
  display: block;
  background: transparent;
  border: 1px solid #333;
  padding: 3px 5px;
  align-self: center;
}

.navMenu:active {
  background: #333;
}

.navbar {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
}

.mobileNavs {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 50px 0;
  gap: 20px;
  background: #1b2028;
}

.desktopNavs {
  display: none;
}

.nav-link {
  padding: 8px 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.mobileNavs .nav-link {
  display: block;
  padding: 15px 20px;
  margin-bottom: 5px;
  background: #1b2028;
}

.nav-link:hover {
  color: #fff;
  background: #0080ff;
}

@media screen and (min-width: 768px) {
  .mobileNavs {
    display: none;
  }

  .desktopNavs {
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .navMenu {
    display: none;
  }
}
