:root {
  --blue: #0080ff;
  --black: #0d1117;
  --white: #fff;
  --border: 1px solid rgb(222, 222, 222);
  --light-background: rgb(247, 247, 247);
  --gray: rgb(188, 188, 188);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--white);
  color: var(--black);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.blue {
  color: var(--blue);
}

/* Header Section */
.display-flex {
  display: flex !important;
}

.display-none {
  display: none !important;
}

.header {
  padding: 3%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navMenu {
  display: block;
  background: transparent;
  border: 1px solid var(--black);
  padding: 3px 5px;
  align-self: center;
}

.navMenu:active {
  background: var(--black);
}

.navbar {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
}

.mobileNavs {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 50px 0;
  gap: 20px;
  background: var(--black);
}

.desktopNavs {
  display: none;
}

.nav-link {
  padding: 8px 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.mobileNavs .nav-link {
  display: block;
  padding: 15px 20px;
  margin-bottom: 5px;
  background: var(--black);
}

.nav-link:hover {
  color: var(--white);
  background: var(--blue);
}

/* Display Items */
.main-container {
  display: flex;
  margin: 70px 0;
  flex-direction: column;
}

.tv-shows {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.show-titles {
  text-align: center;
}

#count-item {
  color: var(--gray);
  font-weight: 600;
}

.show-group {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  gap: 15px;
}

.show-item {
  padding: 10px;
  border: var(--border);
}

.show-item-img {
  display: block;
  max-width: 100%;
}

.show-item-img img {
  max-width: 100%;
}

.show-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-like {
  background: transparent;
  border: none;
  color: var(--black);
  margin-left: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z'/%3E%3C/svg%3E");
  height: 13px;
  margin-right: 3px;
  background-repeat: no-repeat;
}

.show-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-action {
  padding: 10px 15px;
  background: var(--blue);
  color: var(--white);
  border: none;
}

.footer {
  line-height: 50px;
  background-color: var(--light-background);
  border-top: var(--border);
  padding: 20px 200px;
}

@media screen and (min-width: 768px) {
  .mobileNavs {
    display: none;
  }

  .desktopNavs {
    display: flex;
    list-style: none;
    gap: 10px;
  }

  .navMenu {
    display: none;
  }

  /* List Item */
  .show-group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .show-item {
    width: 32%;
  }
}
